.first__block {
    margin-top: 8rem;

    @media screen and (max-width: 768px) {
        margin-top: 2.2rem;
    }
}

.first__block-list {
    display: flex;
    gap: 8rem;

    @media screen and (max-width: 1200px) {
        gap: 2rem;
    }

    @media screen and (max-width: 992px) {
        flex-wrap: wrap;
    }
}

.first__block-item {
    padding: 5rem 12rem 6rem 5rem;
    background-color: $backgroundColor;
    transition: all 0.2s ease;
    border: 1px solid white;
    position: relative;

    &:hover {
        background-color: white;
        border: 1px solid $accentColor;
    }

    @media screen and (min-width: 768px) and (max-width: 992px) {
        padding-right: 32rem;
    }

    @media screen and (max-width: 768px) {
        padding: 2rem 5rem 2rem 2rem;
    }
}

.first__img-container {
    background-color: $accentColor;
    padding: 1rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 10rem;
    height: 10rem;

    @media screen and (min-width: 768px) and (max-width: 992px) {
        right: 6rem;
        width: 20rem;
        height: 20rem;
        top: 50%;
        transform: translateY(-50%);
    }

    @media screen and (max-width: 768px) {
        width: 5rem;
        height: 5rem;
    }
}

.first__img {
    object-fit: contain;
    width: 85%;
}

.first__item-title {
    font-size: 3.6rem;
    margin-left: 16.4rem;
    padding-top: 2.7rem;
    padding-bottom: 7.3rem;

    @media screen and (max-width: 1200px) {
        margin-left: 14rem;
    }

    @media screen and (max-width: 992px) {
        margin-left: 0;
    }

    @media screen and (max-width: 768px) {
        font-size: 2.4rem;
        margin-left: 9rem;
        padding-top: 1.3rem;
    }
}

.first__item-text {
    font-size: 1.6rem;
    font-weight: 600;
    font-family: $secondaryFont;
    word-break: break-all;

    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
        padding-bottom: 2.3rem;

        border-bottom: 1px solid #d9d9d9;
    }
}

.first__item-link {
    display: inline-flex;
    margin-top: 2.7rem;
    text-decoration: none;
    font-family: $primaryFont;
    font-size: 2rem;
    line-height: 1.5;
    color: black;
    align-items: center;
    transition: all 0.3s ease;

    img {
        margin-left: 2.8rem;
        transition: all 0.3s ease;
    }

    &:hover {
        opacity: 0.8;
        text-decoration: underline;

        img {
            transform: translateX(100%);
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 1.6rem;
    }
}
