.header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__left {
    width: 100%;
    padding: 4.6rem 0rem 20.5rem;
    position: relative;
    z-index: 2;
}

.header__right {
    display: flex;
    width: 100%;
    background-color: $mainColor;
    padding: 4.6rem 0;
    align-items: flex-start;
}

.header__logo {
    text-transform: uppercase;
    font-size: 6rem;
    display: flex;
    align-items: center;
    color: $mainColor;
    padding-left: 2rem;
}

.header__intro {
    margin-top: 12.4rem;
    padding-left: 8rem;
}

.intro__text {
    margin-top: 2rem;
    font-size: 2rem;
}

.intro__button {
    margin-top: 11rem;
    color: white;
    border: none;
    font-size: 2rem;
    background-color: $mainColor;
    padding: 1.3rem 5.8rem;
    font-family: inherit;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border: 1px solid $mainColor;

    &:hover {
        background-color: white;
        color: $mainColor;
    }
}

.intro__img-container {
    position: absolute;

    height: 72%;
    bottom: -1rem;
    display: flex;
    justify-content: center;
    left: 9%;
    width: 100%;
    z-index: 1;
}

.intro__img {
    object-fit: contain;
    height: 100%;
}

.header__nav {
    margin-top: 3.5rem;
    width: 100%;
    padding: 0 3rem;
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;
}

.nav__item {
    margin-bottom: -0.8rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    line-height: 1.5;
    padding: 0 1.5rem 0.8rem;
    transition: all 0.2s ease;
    border-bottom: 2px solid;
    border-color: $mainColor;
    cursor: pointer;

    &:hover {
        border-color: white;
    }
}
