.header__inner {
    display: flex;
    justify-content: space-between;
    position: relative;
    overflow: hidden;
}

.header__left {
    width: 100%;
    padding: 4.6rem 0rem 20.5rem;
    position: relative;
    z-index: 2;

    @media screen and (max-width: 992px) {
        padding-bottom: 52.5rem;
        width: 20%;
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding-bottom: 0;
    }
}

.header__right {
    display: flex;
    width: 100%;
    background-color: $mainColor;
    padding: 4.6rem 0;
    align-items: flex-start;

    @media screen and (max-width: 992px) {
        padding-bottom: 0;
        background-color: white;
        width: 70%;
    }

    @media screen and (max-width: 768px) {
        width: 0;
    }
}

.header__logo {
    text-transform: uppercase;
    font-size: 6rem;
    display: flex;
    align-items: center;
    color: $mainColor;
    padding-left: 2rem;

    @media screen and (max-width: 992px) {
        font-size: 4rem;
        img {
            height: 5rem;
            width: 5rem;
        }
    }

    @media screen and (max-width: 768px) {
        font-size: 3rem;
        padding-left: 0;

        img {
            height: 4rem;
            width: 4rem;
        }

        .logo__name {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.header__intro {
    margin-top: 12.4rem;
    padding-left: 8rem;

    @media screen and (max-width: 768px) {
        margin-top: 2.5rem;
        padding-left: 0;
        text-align: center;

        .page__title {
            font-size: 3.6rem;
        }

        .intro__info {
            background-color: $mainColor;
            padding: 4.2rem 0 20rem;
            color: white;
        }
    }
}

.intro__text {
    margin-top: 2rem;
    font-size: 2rem;

    @media screen and (max-width: 768px) {
        font-size: 1.4rem;
    }
}

.intro__button {
    margin-top: 11rem;
    color: white;
    border: none;
    font-size: 2rem;
    background-color: $mainColor;
    padding: 1.3rem 5.8rem;
    font-family: inherit;
    text-transform: uppercase;
    transition: all 0.2s ease;
    border: 1px solid $mainColor;

    &:hover {
        background-color: white;
        color: $mainColor;
    }

    @media screen and (max-width: 768px) {
        margin-top: 14rem;
        width: 100%;
        font-size: 1.4rem;
    }
}

.intro__img-container {
    position: absolute;

    height: 72%;
    bottom: -1rem;
    display: flex;
    justify-content: center;
    left: 9%;
    width: 100%;
    z-index: 1;

    @media screen and (max-width: 992px) {
        height: 50%;
        left: 10%;
        bottom: 2rem;
    }

    @media screen and (max-width: 768px) {
        height: 25rem;
        width: 25rem;
        top: 28rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}

.intro__img {
    object-fit: contain;
    height: 100%;
}

.header__nav {
    margin-top: 3.5rem;
    width: 100%;
    padding: 0 3rem;

    @media screen and (max-width: 992px) {
        margin-top: 1rem;
    }
}

.nav__list {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 100%;

    @media screen and (max-width: 768px) {
        display: none;
    }
}

.nav__item {
    margin-bottom: -0.8rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: white;
    line-height: 1.5;
    padding: 0 1.5rem 0.8rem;
    transition: all 0.2s ease;
    border-bottom: 2px solid;
    border-color: $mainColor;
    cursor: pointer;

    @media screen and (max-width: 992px) {
        color: black;
        border-color: white;
    }

    &:hover {
        border-color: white;

        @media screen and (max-width: 992px) {
            border-color: $mainColor;
        }
    }
}

.burger {
    display: none;
    width: 2.4rem;
    height: 1.6rem;
    position: absolute;
    top: 6.5rem;
    right: 0;
    transform: translateY(-50%);
    background: none;
    border: none;
    padding: 0;
    font-size: 0;
    color: transparent;

    &:before,
    &:after,
    span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: black;
        position: absolute;
        left: 0;
    }

    &:before {
        content: "";
        top: 0;
        transition: transform 0.2s ease;
    }

    &:after {
        content: "";
        bottom: 0;
        transition: transform 0.2s ease;
    }

    span {
        top: 50%;
        transform: translateY(-50%);
        transition: opacity 0.2s linear;
    }

    &--active {
        span {
            opacity: 0;
        }

        &:before {
            top: 50%;
            transform: rotate(45deg);
        }

        &:after {
            top: 50%;
            transform: rotate(-45deg);
        }
    }

    @media screen and (max-width: 768px) {
        display: block;
    }
}
