html {
    font-size: 62.5%;
}

.body {
    background-color: white;
    font-family: $primaryFont;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 11rem;
    width: 100%;
}

.page__title {
    font-size: 6rem;
}

@import "../components/App/app.scss";
@import "../components/Header/header.scss";
