.footer {
    margin-top: 10.6rem;
    background-color: $backgroundColor;
}

.footer__inner {
    padding: 4.9rem 0;

    .page__title {
        @media screen and (max-width: 768px) {
            font-size: 4rem;
            text-align: center;
        }
    }
}
